<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370164253057-epcn797s5fur942g3o3vfeqbornjonvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370164253057-epcn797s5fur942g3o3vfeqbornjonvr</string>
	<key>API_KEY</key>
	<string>AIzaSyANQIhMa4ANwHLQNTUnVHHWFtClvHl_zSo</string>
	<key>GCM_SENDER_ID</key>
	<string>370164253057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqonic.stockinvestment.stockInvestmentFlutter</string>
	<key>PROJECT_ID</key>
	<string>asset-vista</string>
	<key>STORAGE_BUCKET</key>
	<string>asset-vista.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370164253057:ios:bfc5e3ee678acb75f76880</string>
</dict>
</plist>